// Banner Area
.banner-area
  .container
    .banner-img
      img(src=image alt=alt)
    .banner-text
      h1.banner-title
        | !{title}
      p.banner-desc
        | !{desc}
      a.btn(href='#feature-section' class=btnClass) Learn More
// End Banner Area