// Banner Area
.owl-carousel.js-banner-slider
  .banner
    .banner__image
      img(src="assets/images/banner/hijab-banner.png" alt="Hijab Woman")/
    .container
      .banner__text
        p.banner__text__heading(data-aos='fade-up' data-aos-duration='600' data-aos-delay='200')
          | !{sub_title}
        h2.banner__text__title(data-aos='fade-up' data-aos-duration='700' data-aos-delay='200')
          | !{title}
        p.banner__text__desc(data-aos='fade-up' data-aos-duration='800' data-aos-delay='200')
          | !{desc}
        a.btn(href='#' class=btnClass data-aos='fade-up' data-aos-duration='900' data-aos-delay='200') Shop Now
  .banner
    .banner__image
      img(src="assets/images/banner/hijab-banner2.png" alt="Hijab Woman")/
    .container
      .banner__text
        p.banner__text__heading(data-aos='fade-up' data-aos-duration='600' data-aos-delay='200')
          | !{sub_title}
        h2.banner__text__title(data-aos='fade-up' data-aos-duration='700' data-aos-delay='200')
          | !{title}
        p.banner__text__desc(data-aos='fade-up' data-aos-duration='800' data-aos-delay='200') 
          | !{desc}
        a.btn(href='#' class=btnClass data-aos='fade-down' data-aos-duration='900' data-aos-delay='200') Shop Now
  .banner
    .banner__image
      img(src="assets/images/banner/hijab-banner3.png" alt="Hijab Woman")/
    .container
      .banner__text
        p.banner__text__heading(data-aos='fade-up' data-aos-duration='600' data-aos-delay='200')
          | !{sub_title}
        h2.banner__text__title(data-aos='fade-up' data-aos-duration='700' data-aos-delay='200')
          | !{title}
        p.banner__text__desc(data-aos='fade-up' data-aos-duration='800' data-aos-delay='200') 
          | !{desc}
        a.btn(href='#' class=btnClass data-aos='fade-up' data-aos-duration='900' data-aos-delay='200') Shop Now
// End Banner Area


